body {
	min-width: 357px;
	overflow-x: hidden;
	font-family: sans-serif;
	color: #555;
}

img {
	margin: 5px;
	border: 2px solid black;
	vertical-align: middle;
	width: 75px;
	height: 75px;
}

label, input, #sf18{
	float: left;
	margin-bottom: 10px;
}

input, #sf18{
	padding: 5px;
	font-weight: bold;
	position: relative;
	top: -10px;
} div#sf18{
	position: relative;
	top: -5px;
}
	
label{
	clear:both;
	width: 80px;
}


input, #sf15 {
	font-size: 17px;
}

#sf15, #sf18{
	width: 210px;
}

label{
	
}

#main{
	padding: 20px 20px 50px;
	margin: 0 auto;
	overflow: hidden;
}